/lib/
/bin/
/.shards/
*.dwarf
.editorconfig

# Libraries don't need dependency lock
# Dependencies will be locked in applications that use them
/shard.lock

# Keep signed API calls out of repo!
/spec/fixtures/vcr_cassettes/signed/
/spec/fixtures/vcr_cassettes/binance.com/signed/
/spec/fixtures/vcr_cassettes/binance.us/signed/
/spec/test.yml
